<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:scholar="http://www.scholar.edu">
	
	<body>
		<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
			<div class="aw-layout-sidebar__content">

				<nav class="aw-menu  js-menu">
					<ul class="aw-menu__list">

						<li class="aw-menu__item" scholar:menu="@{/}">
							<a th:href="@{/}">
								<i class="fa  fa-fw  fa-home"></i>
								<span>Página Inicial</span>
							</a>
						</li>
						
						<li class="aw-menu__item" scholar:menu="@{/estudante.*}">
							<a th:href="@{/estudante/cadastrar}">
								<i class="fa  fa-fw  fa-credit-card"></i>
								<span>Estudantes</span>
							</a>
						</li>

						<li class="aw-menu__item" scholar:menu="@{/professor.*}">
							<a th:href="@{/professor/cadastrar}">
								<i class="fa  fa-fw  fa-truck"></i>
								<span>Professores</span>
							</a>
						</li>

						<li class="aw-menu__item" scholar:menu="@{/turma.*}">
							<a th:href="@{/turma/cadastrar}">
								<i class="fa  fa-fw  fa-database"></i>
								<span>Turmas</span>
							</a>
						</li>

					</ul>
				</nav>

			</div>
		</aside>
	</body>
</html>