<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:scholar="http://www.scholar.edu.br"
	layout:decorate="~{layout/LayoutPadrao}">
	
	<head>
		<title th:text="${estudante.novu} ? 'Cadastro de estudante' : 'Edição de estudante'">Cadastro de estudante</title>
		
		
		<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	</head>

	<body>
		<section layout:fragment="conteudo">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1 th:if="${estudante.novu}">Cadastro de estudante</h1>
							<h1 th:unless="${estudante.novu}" th:text="|Edição de estudante ${estudante.nome}|">Edição de estudante</h1>
						</div>
						
						<div class="col-xs-2">
							<div class="aw-page-header-controls">
								<a class="btn  btn-default" th:href="@{/estudante}">
									<i class="glyphicon  glyphicon-list"></i> <span class="hidden-xs  hidden-sm">Lista</span>
								</a>
							</div>	
						</div>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<form method="POST" th:object="${estudante}"
					th:action="${estudante.novu} ? @{/estudante/cadastrar} : @{/estudante/{id}(id=${estudante.id})}">
					<scholar:message />
					<input type="hidden" th:field="*{id}"/>

					<div class="row">
						<div class="col-sm-6  form-group  sc-required" scholar:classforerror="matricula">
							<label for="matricula" class="control-label">Matrícula</label>
							<input id="matricula" type="text" class="form-control  js-plain" th:field="*{matricula} "/>
						</div>
						
						<div class="col-sm-6  form-group  sc-required" scholar:classforerror="nome">
							<label for="nome" class="control-label">Nome</label>
							<input id="nome" type="text" class="form-control" th:field="*{nome}" />
						</div>
					</div>
					
					<div class="form-group">
						<button class="btn  btn-primary" type="submit">Salvar</button>
					</div>
				</form>
			</div>
		</section>
	</body>
</html>